* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

#nonedit {
  pointer-events: none;
  width: 330px;
  height: 40px;
  margin-bottom: 10px;
  margin-top: 10px;

  padding-top: 10px;
  text-align: right;
  font-size: 30px;
}

#container {
  width: 350px;
  height: 400px;
  border: 2px solid black;
  text-align: center;
}

#buttonfield {
  display: flex;
}

#numbers {
  width: 200px;
  height: 295px;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap-reverse;
}

#operators {
  width: 150px;
  height: 300px;
  flex-wrap: wrap;
}

button {
  background: none;
  cursor: pointer;

  width: 60px;
  height: 70px;
  border-radius: 8px;
  background-color: #585858;
  font-size: 16px;
  font-weight: 600;
  margin: 2px;
}
